body {
    margin: 0;
    padding: 0;
}
.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Space out elements evenly */
    align-items: center; /* Center items vertically */
}
header {
    background-image: url(flag.jpg);
    background-position: center;
    /* background-size: contain; */
    height: 10vh;
}
header h1 {
    text-align: center;
    /* line-height: 15vh; */
    color: white;
    font-size: 5rem;
    margin: 0 auto;
    order: 2;
}
main {
    background-image: url(insideWhitehouse.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 90vh;
    justify-content: center;
    align-items: center;
    display: flex;
    

}
table {
    border-collapse: collapse;
    background-image: linear-gradient(to bottom right, red,blue);
    color: white;
   
}
td {
    height: 14vh;
    width: 18vh;
    border: 1px solid black;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
    padding: 3px;
}

#bingoBoard {
    
    margin: 0 auto;
}

#leftButton {
    order: 1;
    height: 5vh;
}
#rightButton {
    order: 3;
    height: 5vh;
}
@media only screen and (max-width: 600px) {
    td {
        height: 15vw;
        width: 15vw;
        font-size: 10px;
    }
    .flex-container {
        flex-direction: column; /* Stack items vertically */
        align-items: center;    /* Center items horizontally in the column */
    }
    header {
        width: 100vw;
        height: auto;
    }

    header h1 {
        order: 1;
        width: 100%; /* Makes the title take full width on mobile */
        text-align: center;
        font-size: 3rem;
    }

    header #leftButton {
        order: 2;
        width: 100%;
    }

    header #rightButton {
        order: 3;
        width: 100%;
    }
}
